.syntax-highlighter-block {
    &__block-control-group {
        display: flex;
        flex-direction: column;
    }
    &__controls {
        border-bottom: 1px solid rgba(#000, 0.4);
    }
    &__preview {
        &__label {
            font-size: 12px;
        }
    }
}