.syntax-highlighter-frontend {
    box-shadow: 0 2px 2px 2px rgba(#000, 0.2);

    &__desc {
        padding: 0px 8px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &__group {
            label {
                &:first-child {
                    margin-right: 5px;
                }
                &:last-child {
                    margin-left: 5px;
                }
            }
        }
    }
}